<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>ftp://requiredattribute.com/staging</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <FtpPassiveMode>True</FtpPassiveMode>
    <UserName>admin</UserName>
    <SavePWD>True</SavePWD>
  </PropertyGroup>
  <ItemGroup>
    <File Include="App_Code/BBCodeTags.cshtml">
      <publishTime>05/15/2011 17:55:31</publishTime>
    </File>
    <File Include="App_Readme/glimpse.readme.txt">
      <publishTime>05/15/2011 17:56:19</publishTime>
    </File>
    <File Include="bin/CodeKicker.BBCode.dll">
      <publishTime>05/15/2011 17:55:31</publishTime>
    </File>
    <File Include="bin/Elmah.dll">
      <publishTime>04/20/2011 06:59:35</publishTime>
    </File>
    <File Include="bin/EntityFramework.dll">
      <publishTime>04/12/2011 19:00:33</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>04/12/2011 19:00:33</publishTime>
    </File>
    <File Include="bin/Glimpse.Net.dll">
      <publishTime>05/15/2011 17:56:18</publishTime>
    </File>
    <File Include="bin/IronRuby.dll">
      <publishTime>05/17/2011 20:41:40</publishTime>
    </File>
    <File Include="bin/IronRuby.Libraries.dll">
      <publishTime>05/17/2011 20:41:40</publishTime>
    </File>
    <File Include="bin/IronRuby.Libraries.Yaml.dll">
      <publishTime>05/17/2011 20:41:40</publishTime>
    </File>
    <File Include="bin/MBlog.dll">
      <publishTime>06/27/2011 16:50:24</publishTime>
    </File>
    <File Include="bin/MBlog.pdb">
      <publishTime>06/27/2011 16:50:24</publishTime>
    </File>
    <File Include="bin/MBlogModel.dll">
      <publishTime>06/19/2011 18:17:42</publishTime>
    </File>
    <File Include="bin/MBlogModel.pdb">
      <publishTime>06/19/2011 18:17:42</publishTime>
    </File>
    <File Include="bin/MBlogRepository.dll">
      <publishTime>06/19/2011 18:17:43</publishTime>
    </File>
    <File Include="bin/MBlogRepository.pdb">
      <publishTime>06/19/2011 18:17:43</publishTime>
    </File>
    <File Include="bin/Microsoft.Dynamic.dll">
      <publishTime>05/17/2011 20:41:40</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.ServiceLocation.dll">
      <publishTime>05/15/2011 17:56:01</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.ServiceLocation.pdb">
      <publishTime>05/15/2011 17:56:01</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.ServiceLocation.xml">
      <publishTime>05/15/2011 17:56:01</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.Unity.Configuration.dll">
      <publishTime>05/15/2011 17:56:01</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.Unity.Configuration.xml">
      <publishTime>05/15/2011 17:56:01</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.Unity.dll">
      <publishTime>05/15/2011 17:56:01</publishTime>
    </File>
    <File Include="bin/Microsoft.Practices.Unity.xml">
      <publishTime>05/15/2011 17:56:01</publishTime>
    </File>
    <File Include="bin/Microsoft.Scripting.dll">
      <publishTime>05/17/2011 20:41:40</publishTime>
    </File>
    <File Include="bin/Microsoft.Scripting.Metadata.dll">
      <publishTime>05/17/2011 20:41:40</publishTime>
    </File>
    <File Include="bin/Repository.dll">
      <publishTime>06/19/2011 18:17:43</publishTime>
    </File>
    <File Include="bin/Repository.pdb">
      <publishTime>06/19/2011 18:17:43</publishTime>
    </File>
    <File Include="bin/RouteDebugger.dll">
      <publishTime>05/15/2011 17:56:26</publishTime>
    </File>
    <File Include="Content/ie.css">
      <publishTime>03/23/2011 07:16:04</publishTime>
    </File>
    <File Include="Content/main.css">
      <publishTime>06/13/2011 18:13:05</publishTime>
    </File>
    <File Include="Content/not-ie.css">
      <publishTime>06/13/2011 13:21:08</publishTime>
    </File>
    <File Include="Content/shCore.css">
      <publishTime>03/29/2011 22:26:44</publishTime>
    </File>
    <File Include="Content/shCoreDefault.css">
      <publishTime>03/29/2011 22:26:44</publishTime>
    </File>
    <File Include="Content/shCoreDjango.css">
      <publishTime>03/29/2011 22:26:44</publishTime>
    </File>
    <File Include="Content/shCoreEclipse.css">
      <publishTime>03/29/2011 22:26:44</publishTime>
    </File>
    <File Include="Content/shCoreEmacs.css">
      <publishTime>03/29/2011 22:26:44</publishTime>
    </File>
    <File Include="Content/shCoreFadeToGrey.css">
      <publishTime>03/29/2011 22:26:44</publishTime>
    </File>
    <File Include="Content/shCoreMDUltra.css">
      <publishTime>03/29/2011 22:26:44</publishTime>
    </File>
    <File Include="Content/shCoreMidnight.css">
      <publishTime>03/29/2011 22:26:44</publishTime>
    </File>
    <File Include="Content/shCoreRDark.css">
      <publishTime>03/29/2011 22:26:44</publishTime>
    </File>
    <File Include="Content/shThemeDefault.css">
      <publishTime>03/29/2011 22:26:44</publishTime>
    </File>
    <File Include="Content/shThemeDjango.css">
      <publishTime>03/29/2011 22:26:44</publishTime>
    </File>
    <File Include="Content/shThemeEclipse.css">
      <publishTime>03/29/2011 22:26:44</publishTime>
    </File>
    <File Include="Content/shThemeEmacs.css">
      <publishTime>03/29/2011 22:26:44</publishTime>
    </File>
    <File Include="Content/shThemeFadeToGrey.css">
      <publishTime>03/29/2011 22:26:44</publishTime>
    </File>
    <File Include="Content/shThemeMDUltra.css">
      <publishTime>03/29/2011 22:26:44</publishTime>
    </File>
    <File Include="Content/shThemeMidnight.css">
      <publishTime>03/29/2011 22:26:44</publishTime>
    </File>
    <File Include="Content/shThemeRDark.css">
      <publishTime>03/29/2011 22:26:44</publishTime>
    </File>
    <File Include="Content/Site.css">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>03/23/2011 07:14:59</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>03/23/2011 07:14:59</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>03/23/2011 07:14:59</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_222222_256x240.png">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_2e83ff_256x240.png">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_454545_256x240.png">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_888888_256x240.png">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Content/themes/base/jquery-ui.css">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.accordion.css">
      <publishTime>06/13/2011 16:03:08</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.all.css">
      <publishTime>06/13/2011 16:03:08</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.autocomplete.css">
      <publishTime>06/13/2011 16:03:08</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.base.css">
      <publishTime>06/13/2011 16:03:08</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.button.css">
      <publishTime>06/13/2011 16:03:08</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.core.css">
      <publishTime>06/13/2011 16:03:08</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.datepicker.css">
      <publishTime>06/13/2011 16:03:08</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.dialog.css">
      <publishTime>06/13/2011 16:03:08</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.progressbar.css">
      <publishTime>06/13/2011 16:03:08</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.resizable.css">
      <publishTime>06/13/2011 16:03:08</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.selectable.css">
      <publishTime>06/13/2011 16:03:06</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.slider.css">
      <publishTime>06/13/2011 16:03:06</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.tabs.css">
      <publishTime>06/13/2011 16:03:06</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.theme.css">
      <publishTime>06/13/2011 16:03:05</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>03/23/2011 20:33:47</publishTime>
    </File>
    <File Include="images/InitialBlog.png">
      <publishTime>03/29/2011 21:56:44</publishTime>
    </File>
    <File Include="images/InitialBlogThumbNail.png">
      <publishTime>03/29/2011 21:57:25</publishTime>
    </File>
    <File Include="images/teamcity-thumb.png">
      <publishTime>03/31/2011 18:44:22</publishTime>
    </File>
    <File Include="images/teamcity.png">
      <publishTime>03/31/2011 18:44:21</publishTime>
    </File>
    <File Include="license.txt">
      <publishTime>04/12/2011 19:03:04</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>06/13/2011 16:25:13</publishTime>
    </File>
    <File Include="README.jQuery.vsdoc.txt">
      <publishTime>06/13/2011 16:02:30</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.1-vsdoc.js">
      <publishTime>06/13/2011 16:01:35</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.1.js">
      <publishTime>06/13/2011 16:01:35</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.1.min.js">
      <publishTime>06/13/2011 16:01:35</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.13.js">
      <publishTime>06/13/2011 16:03:05</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.13.min.js">
      <publishTime>06/13/2011 16:03:05</publishTime>
    </File>
    <File Include="Scripts/jquery-ui.js">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Scripts/jquery-ui.min.js">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.js">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.min.js">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Scripts/jquery.validate-vsdoc.js">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.js">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.js">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.min.js">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Scripts/mblog.js">
      <publishTime>03/23/2011 07:16:37</publishTime>
    </File>
    <File Include="Scripts/MicrosoftAjax.debug.js">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Scripts/MicrosoftAjax.js">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcAjax.debug.js">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcAjax.js">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcValidation.debug.js">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcValidation.js">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Scripts/modernizr-1.7.min.js">
      <publishTime>03/31/2011 09:54:52</publishTime>
    </File>
    <File Include="Scripts/shAutoloader.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shBrushAppleScript.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shBrushAS3.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shBrushBash.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shBrushColdFusion.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shBrushCpp.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shBrushCSharp.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shBrushCss.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shBrushDelphi.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shBrushDiff.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shBrushErlang.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shBrushGroovy.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shBrushJava.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shBrushJavaFX.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shBrushJScript.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shBrushPerl.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shBrushPhp.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shBrushPlain.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shBrushPowerShell.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shBrushPython.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shBrushRuby.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shBrushSass.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shBrushScala.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shBrushSql.js">
      <publishTime>05/25/2011 16:28:50</publishTime>
    </File>
    <File Include="Scripts/shBrushVb.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shBrushXml.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shCore.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Scripts/shLegacy.js">
      <publishTime>03/29/2011 22:23:12</publishTime>
    </File>
    <File Include="Views/Admin/Index.cshtml">
      <publishTime>06/13/2011 13:06:05</publishTime>
    </File>
    <File Include="Views/Admin/ListPosts.cshtml">
      <publishTime>06/13/2011 18:24:30</publishTime>
    </File>
    <File Include="Views/Admin/_AdminLayout.cshtml">
      <publishTime>05/25/2011 16:09:21</publishTime>
    </File>
    <File Include="Views/Home/Index.cshtml">
      <publishTime>06/13/2011 18:10:28</publishTime>
    </File>
    <File Include="Views/Post/Edit.cshtml">
      <publishTime>06/13/2011 15:13:09</publishTime>
    </File>
    <File Include="Views/Post/Index.cshtml">
      <publishTime>06/13/2011 13:21:08</publishTime>
    </File>
    <File Include="Views/Post/New.cshtml">
      <publishTime>06/27/2011 15:02:24</publishTime>
    </File>
    <File Include="Views/Post/Show.cshtml">
      <publishTime>06/14/2011 10:09:18</publishTime>
    </File>
    <File Include="Views/Post/ShowPostWithComments.cshtml">
      <publishTime>06/14/2011 10:01:13</publishTime>
    </File>
    <File Include="Views/Post/_EditPost.cshtml">
      <publishTime>06/27/2011 15:02:24</publishTime>
    </File>
    <File Include="Views/Post/_ShowCommentsForPost.cshtml">
      <publishTime>06/19/2011 18:00:18</publishTime>
    </File>
    <File Include="Views/Post/_ShowSinglePost.cshtml">
      <publishTime>06/13/2011 22:57:36</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Views/Shared/_BlogLayout.cshtml">
      <publishTime>05/25/2011 16:17:59</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>06/27/2011 14:57:34</publishTime>
    </File>
    <File Include="Views/User/Login.cshtml">
      <publishTime>06/13/2011 13:24:59</publishTime>
    </File>
    <File Include="Views/User/Register.cshtml">
      <publishTime>06/13/2011 13:24:59</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>06/27/2011 16:50:34</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>03/23/2011 07:15:00</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>06/27/2011 16:50:34</publishTime>
    </File>
  </ItemGroup>
</Project>