@model MBlog.Models.Post.PostsViewModel
@{
    ViewBag.Title = "Blog Posts";
}
<ul class="blog-list">
        <li class="blog-post">
            @{
                Html.RenderPartial("_ShowSinglePost", Model);
                Html.RenderPartial("_ShowCommentsForPost", Model);
            }
        </li>        
</ul>
