<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
               xmlns:n="http://www.nlog-project.org/schemas/NLog.netfx40.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <connectionStrings>
    <add name="mblog" connectionString="server=.;initial catalog=mblog_staging; integrated security=true"  providerName="System.Data.SqlClient"  
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors defaultRedirect="GenericError.htm"
      mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="500" redirect="InternalError.htm"/>
    </customErrors>

  </system.web>
  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="mblog" xdt:Transform="Replace"/>
  </elmah>
  <n:nlog throwExceptions="true" internalLogFile="c:\temp\nlog.log" internalLogLevel="Debug"
        xdt:Transform="RemoveAttributes(throwExceptions,internalLogFile,internalLogLevel)">
    <n:targets>
      <n:target name="eventlog" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
      <n:target name="database" xsi:type="Database" connectionStringName="mblog"
              commandText="insert into NLog (time_stamp,level,host,type,source,logger,message,stacktrace) values(@time_stamp,@level,@host,@type,@source,@logger,@message,@stacktrace)">
        <n:dbProvider>sqlserver</n:dbProvider>
        <n:parameter name="@time_stamp" layout="${date}" />
        <n:parameter name="@level" layout="${level}" />
        <n:parameter name="@host" layout="${machinename}" />
        <n:parameter name="@type" layout="${exception:format=type}" />
        <n:parameter name="@source" layout="${callsite}" />
        <n:parameter name="@logger" layout="${logger}" />
        <n:parameter name="@message" layout="${message}" />
        <n:parameter name="@stacktrace" layout="${stacktrace}" />
      </n:target>
      <n:target name="raven" xsi:type="RavenDb" ServerUrl="http://localhost:9999" DatabaseName="MBlog_Staging"  xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      <n:target name="mongo" xsi:type="MongoDb" ServerUrl="mongodb://localhost" DatabaseName="MBlog_Staging"  xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    </n:targets>
    <n:rules>
      <n:logger writeTo="eventlog" xdt:Transform="Remove" xdt:Locator="Match(writeTo)"/>
      <n:logger name="*" minlevel="Warn" writeTo="file" xdt:Transform="Replace" xdt:Locator="Match(writeTo)" />
    </n:rules>
  </n:nlog>
</configuration>