@import "colors.less";

.row { 
	clear: both; padding-top: 5px; 
	span.label { float: left; width: @base-font-size * 6; text-align: right; padding-right: 1em; }
	span.formw { 
		float: left; width: @base-font-size * 60; text-align: left; 
		input[type=text] {width: 100%;}
		input[type=password] {width: 100%;}
		input[type=submit] {width: 30%;}
	}
	span.field-validation-error { float:left; width: 160px; text-align: left; }
}

