@import "colors.less";
@import "form.less";


#media-form-body { 
	padding: 0px 0 10px 10px; 
	margin: 0px auto; 
}

//.qq-upload-list{ display: none;}
.qq-upload-size{display: none;}
.qq-upload-file{display: none;}
.qq-uploader {
	height: 140px;
}

/*.row { 
	span.label { text-align: left; }
}
*/
.media-upload { padding: 0 0 20px 0; }
.media-details { display: none; }

.media-edit-form {
    margin: 0 auto;
    padding: 0;
    min-width: 500px;
    max-width: 750px;
    width: 750px; 
    input {width: 100%;}
    input[type='submit'] {width: 33%; margin: 0 25% 0 25%;}
}

img { 
    &.img-thumbnail { width: 15%; }
    &.img-medium    { width: 50%; }
    &.img-large     { width: 75%; }
    &.img-fullsize  { width: 100%; }
    &.img-align-right { float:right; margin: 0 0 15px 15px; }
    &.img-align-left { float:left; margin: 0 15px 15px 0; }
}

.media-80x60 { 
    max-width: 80px;
    max-height: 60px;
}

.media-160x120 { 
    max-width: 160px;
    max-height: 120px;
}

.listmedia-checkbox {
    width: 2.2em;
    vertical-align: top;
}

.listmedia-item {
    width: 80px;
}

.listmedia-details{
    width: 300px;
    vertical-align: top;
	a {
		padding-right: @base-font-size;
	}
}

.listmedia-author{
    width: 100px;
    vertical-align: top;
}

.listmedia-date{
    width: 100px;
    vertical-align: top;
}

th {
    background-color: @table-header;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
    background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
    background-image: linear-gradient(top,#F9F9F9,#ECECEC);
}

#file-uploader
{
    .qq-upload-drop-area {display:block !important; background-color: @file-upload; min-height: 150px}
	.qq-upload-button {background-color: @dark-main; padding: 1em; top: 105px; margin: 0 auto; }
}

.media-header-media{
    float: left;
}

.media-header-details {
    float: left; 
    padding-left: 2 * @line-height;
    span {font-weight: bold;}
    line-height: 3 * @line-height;
    p { margin: 1px; padding: 3px; }
}

#media-edit-footer{
	margin: 0 0 0 @line-height;
	font-size: @base-font-size;
}

#upload-error-text {
	height: @line-height;
	padding: @line-height / 2 0 0 @line-height / 2;
	//visibility: hidden;
	margin-bottom: 2px;
}

.url-to-copy{
	background-color: @light-main;
	padding: 2pt 4pt;
}

#overlay {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.overlay-background {
    background-color: #000000;
    opacity: 0.75;
}

#upload-wrapper {
	top: 50px;
	display: none;
	position: fixed;
	margin-left: 100px;
	z-index: 1000;
	width:	9 / 12 * (@max-width-pixels) * 1px; 
	background: @background-color;
	height: 100px;	
	#upload-media {
		margin: 0em auto; 
		background-color: white;
		padding: 5px 10px 0 0;
		clear:both;
	}
}

#mediaclose {
	padding: 5px 25px 0 0;
	margin: 10px 0 0 0;
	height: 20px;
	background-image: url("close.png");
	background-repeat: no-repeat;
	float: right;
}