@using MBlog.Models.Post
@using MBlog.Resources.Post
@model PostsViewModel
@{
    ViewBag.Title = Html.Encode(Index.Title);
    Layout = "~/Views/Post/_PostLayout.cshtml";
}
<ul class="blog-list">
    @foreach (var blogViewModel in Model.Posts)
    {
        <li class="blog-post">
            @{
        Html.RenderPartial("_ShowSinglePost", blogViewModel);
            }
        </li>
    }
</ul>


