@using MBlog.Models.Post
@using MBlog.Resources.Post
@model MBlog.Models.Post.PostsViewModel
@{
    ViewBag.Title = Index.Title;
    Layout = "~/Views/Post/_PostLayout.cshtml";
}
<ul class="blog-list">
    @foreach (PostViewModel blogViewModel in Model.Posts)
    {
        <li class="blog-post">
            @{
                Html.RenderPartial("_ShowSinglePost", blogViewModel);
            }
        </li>
    }
</ul>