@using MBlog.Models.Post
@model MBlog.Models.Post.PostsViewModel
@{
    ViewBag.Title = "Show Blog Posts";
    Layout = "~/Views/Post/_PostLayout.cshtml";
}
<ul class="blog-list">
    @foreach (PostViewModel viewModel in Model.Posts)
    {
        <li class="blog-post">
            @{
                Html.RenderPartial("_ShowSinglePost", viewModel);
                if (Model.ShowComments)
                {
                    Html.RenderPartial("_ShowCommentsForPost", viewModel.AddCommentViewModel);
                }
            }
        </li>
    }
</ul>