@model MBlog.Models.PostsViewModel
@{
    ViewBag.Title = "Blog Posts";
}
<ul class="blog-list">
    @foreach (var viewModel in Model.Posts)
    {
        <li class="blog-post">
            @{
                Html.RenderPartial("ShowSinglePost", viewModel);
                if (Model.ShowComments)
                {
                    Html.RenderPartial("ShowCommentsForPost", viewModel);
                }
            }
        </li>        
    }
</ul>
