@model MBlog.Models.Media.NewMediaViewModel
@{
    ViewBag.Title = "Upload File";
    Layout = "~/Views/Media/_MediaLayout.cshtml";
}
<script type="text/javascript">
    $(function () {
        var uploader = new qq.FileUploader({
            element: $('#file-uploader')[0],
            action: '@Url.Action("create")',
            allowedExtensions: ['jpg', 'gif', 'png', 'pdf', 'doc', 'docx', 'xls', 'xlsx', 'ppt', 'pptx', 'zip'],
            multiple: false,
            params: {
                nickname: '@Model.Nickname',
                blogId: '@Model.BlogId'
            },
            template: '<div class="qq-uploader">' +
            '<div class="qq-upload-drop-area"><span>Drop files here to upload</span></div>' +
            '<div class="qq-upload-button">Click to Select File to Upload</div>' +
            '<ul class="qq-upload-list"></ul>' +
            '</div>',
            onSubmit: function (id, fileName) {
                $('.media-details').hide();
                $('#upload-error-text').css('visibility', 'hidden').html("");
            },
            onComplete: function (id, fileName, result) {
                qq.FileUploaderBasic.prototype._onComplete.apply(this, arguments);
                if (result.success) {
                    $('#createForm').attr('action', result.action);
                    $('#Title').attr('value', result.title);
                    $('.media-details').show();
                    $('#upload-error-text').css('visibility', 'visible').html(result.message);
                } else {
                    $('#upload-error-text').css('visibility', 'visible').html(result.message);
                }
                $('.qq-upload-list').empty();
            }
        });
    });
</script>
<section id="blog-form">
    <div id="blog-form-header">
        @ViewBag.Title
    </div>
    @{
        Html.RenderPartial("_UploadFile");
    }
</section>
