<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <connectionStrings>
    <add name="mblog" connectionString="server=.;initial catalog=mblog; integrated security=true"  providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <rejuicer Cache="true" PreventPassThroughOnDebug="true" xdt:Transform="Replace"/>

  <appSettings>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors defaultRedirect="GenericError.htm"
      mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="500" redirect="InternalError.htm"/>
    </customErrors>

  </system.web>
  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="mblog" xdt:Transform="Replace"/>
  </elmah>
  <nlog throwExceptions="true" internalLogFile="c:\temp\nlog.log" internalLogLevel="Debug"
      xdt:Transform="RemoveAttributes(throwExceptions,internalLogFile,internalLogLevel)">
    <targets>
      <target name="database" xsi:type="Database" connectionStringName="mblog"
              commandText="insert into NLog (time_stamp,level,host,type,source,logger,message,stacktrace) values(@time_stamp,@level,@host,@type,@source,@logger,@message,@stacktrace)">
        <dbProvider>sqlserver</dbProvider>
        <parameter name="@time_stamp" layout="${date}" />
        <parameter name="@level" layout="${level}" />
        <parameter name="@host" layout="${machinename}" />
        <parameter name="@type" layout="${exceptioformat=type}" />
        <parameter name="@source" layout="${callsite}" />
        <parameter name="@logger" layout="${logger}" />
        <parameter name="@message" layout="${message}" />
        <parameter name="@stacktrace" layout="${stacktrace}" />
      </target>
      <target name="raven" xsi:type="RavenDb" ServerUrl="http://localhost:9999" DatabaseName="MBlog"  xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      <target name="mongo" xsi:type="MongoDb" ServerUrl="mongodb://localhost" DatabaseName="MBlog"  xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Warn" writeTo="file" xdt:Transform="Replace" xdt:Locator="Match(writeTo)" />
      <logger name="*" minlevel="Warn" writeTo="eventlog" xdt:Transform="Replace" xdt:Locator="Match(writeTo)" />
      <logger name="*" minlevel="Warn" writeTo="database" xdt:Transform="Replace" xdt:Locator="Match(writeTo)" />
      <logger name="*" minlevel="Warn" writeTo="raven" xdt:Transform="Replace" xdt:Locator="Match(writeTo)" />
      <logger name="*" minlevel="Warn" writeTo="mongo" xdt:Transform="Replace" xdt:Locator="Match(writeTo)" />
    </rules>
  </nlog>
  <dotless minifyCss="true" cache="true" web="false" xdt:Transform="Replace"/>
</configuration>