@model IEnumerable<MBlog.Models.BlogViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
@foreach (var blogViewModel in Model)
{
    <li>
    <h1>@blogViewModel.Title</h1>
    <div>
        <span>Posted on: @blogViewModel.DatePosted.ToShortDateString()</span>
    </div>
    <div>@blogViewModel.Post</div>
    </li>
}
</ul>
