* {
    margin: 0;
    padding: 0;
}

a { text-decoration: none; }

body {
    background-color: #cccccc;
    font-family: arial, helvetica, sans-serif;
}

.wrapper { height: 100%; }

.main-list {
    float: right;
    padding: 18px 36px 18px 0;
}

h2.page-header { padding: 36px 0 0 12px; }

.header {
    background-color: #eeeeee;
    overflow: auto;
    width: 100%;
}

header {
    background-color: #eeeeee;
    display: block;
    overflow: auto;
    width: 100%;
}

.mainbody {
    background-color: white;
    margin: 0em auto;
    width: 65%;
}

#_createList { margin-left: .5em; }

ul.headerList li { display: inline; }

ul.headerList li a {
    background: #1d6896 none repeat scroll 0 0;
    color: white;
    padding: 0.35em 0.75em;
    text-decoration: none;
}

.mainheader { font-size: 36px; }

.newItem {
    font-size: 11pt;
    padding: 14pt 0 14pt 5pt;
}

.form { font-size: 12px; }

.form-label {
    display: inline-block;
    width: 75px;
}

.form-row {
    min-height: 30px;
    padding-top: 10px;
}

fieldset {
    border: 1px solid #a5c3d5;
    margin: 0 0 18px 0;
    padding: 0 1.4em 1.4em 1.4em;
}

legend {
    font-size: 12px;
    font-weight: bold;
    padding: 0 10px 0 10px;
}

.blog-post {
    clear: both;
    margin: 4.5px 0 31.5px 10px;
}

.blog-header-section {
    border-bottom: 1px solid black;
    margin: 9px 0 9px 0;
    padding: 0 0 10px 0;
}

.blog-title {
    display: inline-block;
    font-size: 18px;
}

.blog-date-posted {
    color: gray;
    float: right;
    font-size: 9px;
    margin: 0 0 0 10px;
}

.blog-entry { line-height: 18px; }

.blog-entry ol { padding-left: 20px; }

.blog-entry ul { padding-left: 20px; }

.blog-entry p { margin-bottom: 10px; }

.blog-inner-body {
    float: left;
    padding: 10px 0 10px 10px;
    width: 75%;
}

.blog-main-body {
    background-color: White;
    overflow: auto;
    width: 100%;
}

.blog-side-bar {
    float: right;
    width: 20%;
}

.blog-comments { padding: 10px 0 0 5px; }

.blog-comment {
    background-color: #eeeeee;
    padding: 5px 5px 10px 5px;
}

.blog-comment-header { font-weight: bold; }

.blog-comment-body { padding: 10px 0 0 0; }

.blog-post-body { padding: 10px 0 0 0; }

.comment-help {
    background-color: black;
    color: white;
    font-size: 12px;
    margin: 0 0 18px 10px;
    padding: 5px 0 5px 10px;
}

#blog-comment-form {
    padding: 10px 0 0 10px;
    width: 90%;
}

#blog-comment-form-header {
    font-size: 24px;
    padding: 5px 0 15px 0px;
}

#blog-comment-form-body { padding: 0px 0 0px 10px; }

.post-help {
    background-color: black;
    color: white;
    font-size: 12px;
    margin: 0 0 18px 10px;
    padding: 5px 0 5px 10px;
}

#blog-post-form {
    padding: 10px 0 0 10px;
    width: 90%;
}

#blog-post-form-header {
    font-size: 24px;
    padding: 5px 0 15px 0px;
}

#blog-post-form-body { padding: 0px 0 0px 10px; }

#blog-form {
    padding: 10px 0 0 10px;
    width: 90%;
}

#blog-form-header {
    font-size: 24px;
    padding: 5px 0 15px 0px;
}

#blog-form-body {
    margin: 0px auto;
    padding: 0px 0 0px 10px;
    width: 500px;
}

.maxwidth { width: 100%; }

div.row {
    clear: both;
    padding-top: 5px;
}

div span.label {
    float: left;
    text-align: right;
    width: 120px;
}

div span.formw {
    float: right;
    text-align: left;
    width: 370px;
}

#Comment { width: 100%; }

.inline-code {
    font-family: Consolas, Courier, "Courier New", monospace;
    font-weight: bold;
}

code {
    font-family: Consolas, Courier, "Courier New", monospace;
    font-weight: bold;
}

.blog-list {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

.home-page { margin: 0 0 0 20px; }

.home-page-content {
    float: left;
    margin: 0 auto;
    width: 65%;
}

.home-page-list {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

.home-page-list li { font-size: 12px; }

.home-page-blog-post { margin: 4.5px 0 49.5px 10px; }

.home-page-blog-header-section {
    border-bottom: 1px solid black;
    margin-bottom: 18px;
}

.home-page-blog-title {
    display: inline-block;
    font-size: 12px;
}

.home-page-sub-title {
    padding-bottom: 10px;
    padding-left: 10px;
}

.home-page-header { margin: 18px 0 0 0; }

.home-page-sidebar {
    float: right;
    margin: 0 auto;
    width: 30%;
}

.admin-dashboard {
    font-size: 15px;
    overflow: auto;
}

.admin-title { margin: 9px 0 9px 0; }

.admin-title h2 { color: #655545; }

.admin-main {
    margin: 0 auto;
    width: 90%;
}

.admin-user { height: 36px; }

.admin-user-links {
    float: left;
    margin: 9px 5px 9px 0;
    width: 35%;
}

.admin-blog-list {
    float: left;
    margin-left: 5px;
}

.admin-blog-name {
    padding: 10px 0;
    text-align: left;
}

#admin {
    background: #a5c3d5;
    float: left;
    height: 36px;
    margin-right: 5px;
    width: 35%;
}

#admin h4 { padding: 9px 0 0 9px; }

#admin-user-name {
    background: #a5c3d5;
    float: left;
    height: 36px;
    margin-right: 5px;
    width: 35%;
}

#admin-user-name h4 { padding: 9px 0 0 9px; }

#admin-user-manage {
    background: #a5c3d5;
    float: left;
    height: 36px;
    margin-right: 5px;
    width: 35%;
    width: 45%;
}

#admin-user-manage h4 { padding: 9px 0 0 9px; }

#admin-manageblogs-title { text-align: left; }

.admin-link {
    display: inline-block;
    padding: 0 9px 0 0;
    text-align: right;
}

.admin-header-links { float: right; }

.admin-blog-actions { padding: 10px 0; }

.list-items {
    border: #a5c3d5 4px solid;
    border-radius: 10px;
    font-size: 12px;
    margin: 9px 10px;
}

.list-items table {
    border-spacing: 0;
    width: 100%;
}

.list-items table tr td {
    border-bottom: 1px solid #cccccc;
    line-height: 19px;
    padding: 10px 5px 5px 5px;
}

.list-items table tr td.post-title {
    padding-left: 20px;
    width: 100%;
}

.list-items-comment-count { float: right; }

.form-row.row {
    clear: both;
    padding-top: 5px;
}

.form-row span.label {
    float: left;
    text-align: right;
    width: 80px;
}

.form-row span.input {
    float: left;
    text-align: left;
    width: 300px;
}

.form-row span.message {
    float: right;
    text-align: left;
    width: 300px;
}

#media-form-body {
    margin: 0px auto;
    padding: 0px 0 0px 10px;
    width: 670px;
}

#media-form-body div {
    min-height: 30px;
    padding-top: 10px;
}

#media-form-body div.row {
    clear: both;
    padding-top: 5px;
}

#media-form-body div span.label {
    float: left;
    text-align: right;
    width: 80px;
}

#media-form-body div span.input {
    float: left;
    text-align: left;
    width: 300px;
}

#media-form-body div span.message {
    float: right;
    text-align: left;
    width: 300px;
}

.media-upload { padding: 0 0 20px 0; }

.media-details { display: none; }

form.media-edit-form {
    margin: 0;
    max-width: 600px;
    min-height: 30px;
    min-width: 500px;
    padding: 0;
    padding-top: 10px;
    width: 560px;
}

form.media-edit-form.row {
    clear: both;
    padding-top: 5px;
}

form.media-edit-form span.label {
    float: left;
    text-align: right;
    width: 80px;
}

form.media-edit-form span.input {
    float: left;
    text-align: left;
    width: 300px;
}

form.media-edit-form span.message {
    float: right;
    text-align: left;
    width: 300px;
}

img.img-thumbnail { width: 15%; }

img.img-medium { width: 50%; }

img.img-large { width: 75%; }

img.img-fullsize { width: 100%; }

img.img-align-right {
    float: right;
    margin: 0 0 15px 15px;
}

img.img-align-left {
    float: left;
    margin: 0 15px 15px 0;
}

.media-80x60 {
    max-height: 60px;
    max-width: 80px;
}

.listmedia-checkbox {
    vertical-align: top;
    width: 2.2em;
}

.listmedia-item { width: 80px; }

.listmedia-details {
    vertical-align: top;
    width: 300px;
}

.listmedia-author {
    vertical-align: top;
    width: 100px;
}

.listmedia-date {
    vertical-align: top;
    width: 100px;
}

th {
    background-color: #f1f1f1;
    background-image: -moz-linear-gradient(center top, #f9f9f9, #ececec);
    background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
    background-image: linear-gradient(top, #f9f9f9, #ececec);
}

#file-uploader .qq-upload-drop-area {
    display: block !important;
    margin-left: 180px;
    width: 95%;
}

/* Styles for validation helpers

-----------------------------------------------------------*/

.field-validation-error { color: #ff0000; }

.field-validation-valid { display: none; }

.input-validation-error {
    background-color: #ffeeee;
    border: 1px solid #ff0000;
}

.validation-summary-errors {
    color: #ff0000;
    font-weight: bold;
}

.validation-summary-valid { display: none; }