* { padding: 0; margin: 0; }
a { text-decoration: none; }
body { font-family: arial, helvetica, sans-serif; background-color: #cccccc; }
.wrapper { height: 100%; }
.main-list { padding: 10px 20px 10px 0; float: right; }
h2.page-header { padding: 20px 0 0 10px; }
.header { background-color: #eeeeee; overflow: auto; width: 100%; }
header { background-color: #eeeeee; overflow: auto; width: 100%; display: block; }
.mainbody { margin: 0em auto; width: 65%; background-color: #ffffff; }
.footer { }

#_createList { margin-left: .5em; }
ul.headerList li { display: inline; }
ul.headerList li a { text-decoration: none; background: #1D6896 none repeat scroll 0 0; color: #FFFFFF; padding: 0.35em 0.75em; }

.lists li { font-size: 14pt; padding: 14pt 0 14pt 5pt; }
.lists li.list-even { background: rgba(0, 102, 204, 0.05); border: 1px solid #EAF0F5; }
.lists li.list-odd { background-color: #FFFFFF; border: 1px solid #FFFFFF; }
.lists li.list-item-selected { border: 1px solid red !important; }

.lists li a { text-decoration: none; margin: 0 0 0 .2em; }

.lists h2 { font-size: 20pt; }
.list-complete { font-size: 10pt; padding-left: 10pt; }
.mainheader { font-size: 32pt; }

.question-title { border-bottom: 1px solid black; padding-bottom: 5px; font-size: 20pt; font-weight: bold; }
.question-text { padding: 10px; font-size: 14pt; }

.newItem { font-size: 11pt; padding: 14pt 0 14pt 5pt; }

.form { font-size: 15px; }
.form-label { width: 75px; display: inline-block; }
.form-row { min-height: 30px; padding-top: 10px; }

fieldset { border: 1px solid #ccc; padding: 0 1.4em 1.4em 1.4em; margin: 0 0 1.5em 0; }

legend { font-size: 1.2em; font-weight: bold; padding: 0 10px 0 10px; }

.blog-post { margin: 5px 0 40px 10px; }
.blog-header-section { margin: 0 0 5px 0; padding: 0 0 10px 0; border-bottom: 1px solid black; }
.blog-title { font-size: 16pt; display: inline-block; }
.blog-date-posted { float: right; color: gray; font-size: 8pt; margin: 0 0 0 10px; }
.blog-entry { line-height: 20px; }
.blog-entry ul { padding-left: 20px; }
.blog-inner-body { width: 75%; float: left; padding: 10px 0 10px 10px; }
.blog-main-body { background-color: White; overflow: auto; width: 100%; }
.blog-side-bar { float: right; width: 20%; }
.blog-comments { padding: 10px 0 0 5px; }
.blog-comment { background-color: #eeeeee; padding: 5px 5px 10px 5px; }
.blog-comment-header { font-weight: bold; }
.blog-comment-body { padding: 10px 0 0 0; }
.blog-post-body { padding: 10px 0 0 0; }
.comment-help { font-size: 12px; padding: 5px 0 5px 10px; margin: 0 0 10px 10px; background-color: black; color: White; }
#blog-comment-form { padding: 10px 0 0 10px; width: 90%; }
#blog-comment-form-header { font-size: 20pt; padding: 5px 0 15px 0px; }
#blog-comment-form-body { padding: 0px 0 0px 10px; }

.post-help { font-size: 12px; padding: 5px 0 5px 10px; margin: 0 0 10px 10px; background-color: black; color: White; }
#blog-post-form { padding: 10px 0 0 10px; width: 90%; }
#blog-post-form-header { font-size: 20pt; padding: 5px 0 15px 0px; }
#blog-post-form-body { padding: 0px 0 0px 10px; }
#blog-form { padding: 10px 0 0 10px; width: 90%; }
#blog-form-header { font-size: 20pt; padding: 5px 0 15px 0px; }
#blog-form-body { padding: 0px 0 0px 10px; width: 500px; margin: 0px auto; }
.maxwidth { width: 100%; }

div.row { clear: both; padding-top: 5px; }
div.row span.label { float: left; width: 120px; text-align: right; }
div.row span.formw { float: right; width: 370px; text-align: left; }

#Comment { width: 100%; }
.inline-code { font-family: Consolas, Courier New, Courier; font-weight: bold; font-size: larger; }
.blog-list { list-style-image: none; list-style-position: outside; list-style-type: none; }
.home-page { margin: 0 0 0 20px; }
.home-page-content { margin: 0em auto; width: 65%; float: left; }
.home-page-list { list-style-image: none; list-style-position: outside; list-style-type: none; }
.home-page-list li { font-size: 10pt; }
.home-page-blog-post { margin: 5px 0 40px 10px; }
.home-page-blog-header-section { margin-bottom: 5px; border-bottom: 1px solid black; }
.home-page-blog-title { font-size: 12pt; display: inline-block; }
.home-page-sub-title { padding-left: 10px; padding-bottom: 10px; }
.home-page-header { margin: 20px 0 0 0; }
.home-page-sidebar { margin: 0em auto; width: 30%; float: right; }

.admin-dashboard { overflow: auto; }
.admin-title { }
.admin-user { margin: 0em auto; width: 65%; }
.admin-manage { margin: 0em auto; width: 65%; }
#admin-blog-list { text-align: left; padding: 10px 0; }
#admin-user-name { float: left; width: 35%; }
#admin-user-manage { }
#admin-manageblogs-title { text-align: left; display: inline-block; width: 80%; }
.admin-link { text-align: right; display: inline-block; padding: 0 5px 0 0; }
#admin-blog-actions { padding: 10px 0; }


.list-posts { width: 90%; font-size: 14pt; padding: 0 10px 0 10px; }
.list-posts table tr td { padding: 10px 0 0 5px; }
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error { color: #ff0000; }

.field-validation-valid { display: none; }

.input-validation-error { border: 1px solid #ff0000; background-color: #ffeeee; }

.validation-summary-errors { font-weight: bold; color: #ff0000; }

.validation-summary-valid { display: none; }

/* #339966 */
/* #EAF0F5 */
/* rgba(0, 102, 204 0.05) */

/* old styles */
/*.main-bar { height: 90px; background-color: rgba(0, 102, 204, 0.05); margin-top: -30px; }
.main-bar-inner { padding-top: 20px; padding-left: 20px; font-size: 10pt; }
.main-bar-inner .legend { float: left; }
.main-bar-inner .nav-buttons { float: left; padding-left: 20px; }*/