@model MBlog.Models.UserViewModel

@{
    ViewBag.Title = "ViewPage1";
}

<h2>Administrative Page for @Model.Name</h2>

<table>
<thead>
<tr><th></th></tr>
</thead>
<tbody>
<tr><td></td></tr>
</tbody>
</table>

