@using MBlog.Resources.Shared
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>@Html.Encode(Error.Title)</title>
    </head>
    <body>
        <h2>
            @Html.Encode(Error.Sorry)
        </h2>
    </body>
</html>