@using MBlog.Resources.Shared
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>@Error.Title</title>
    </head>
    <body>
        <h2>
            @Error.Sorry
        </h2>
    </body>
</html>